recursive-exclude .github *
recursive-exclude tests *

exclude .coveragerc
exclude .flake8
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .prettierrc.yaml
exclude codecov.yml
exclude dodo.py
exclude MANIFEST.in
exclude pytest.ini
exclude requirements-dev.txt
